@page "/"
@using Models;

<PageTitle>Index</PageTitle>

<button @onclick="GetData">Get titbit</button>

@if (catFact != null)
{
    <h1>Do you want to learn something about sierściuch?</h1>
    <p>@catFact.fact</p>
}

@code{
    public CatFact catFact;

    public HttpClient httpClient = new HttpClient();
    public async Task GetData()
    {
        catFact = await httpClient.GetFromJsonAsync<CatFact>("https://catfact.ninja/fact");
    }
}